[submodule "static-snippets"]
	path = static-snippets
	url = https://github.com/gbarska/static-snippets
[submodule "nooblab"]
	path = nooblab
	url = https://github.com/gbarska/nooblab
[submodule "mizu-team"]
	path = mizu-team
	url = https://github.com/gbarska/mizu-team
